<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Routes</title>
</head>
<body>
    <form action="/articles" method="post">
        <input type="text" name="title" id="title" />
        <textarea name="content" id="content" cols="50" rows="25"></textarea>
        <button type="submit">Submit post</button>
    </form>
</body>
</html>